<h1>Margin à ajouter</h1>
<h1>Margin à ajouter</h1>

<h1>Repas</h1>

<%= link_to new_user_session_path do %>
    <p>Se connecter</p>
    <% end %>

  <h2>Questionnaire</h2>

    <%= link_to new_repa_path do %>
    <p>Créer</p>
    <% end %>


<% @repas.each do |repa| %>
  <%= repa.user.first_name %>
  <%= repa.user.id %>
  <%= repa.items %>
  <%= repa.allergies %>
  <%= repa.quantities %>
  <%= link_to "More info", repa_path(repa) %>
  <%= link_to "Edit", edit_repa_path(repa), class: "ms-3 text-warning" %>
  <%= link_to "Remove", repa_path(repa),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "ms-3 text-danger"%>
  <% end %>
