

<% if current_user %>
        <h1>Créer</h1>
      <%= simple_form_for(@voyage) do |f| %>
        <%= f.input :category, collection: ["Voiture", "Train"] %>
        <%= f.input :ville, label: "Ville de départ?"%>
        <%= f.input :place, label: "Combien de de place as-tu de disponible dans ta voiture"%>
        <%= f.input :rendezvous, label: "Lieu de rendez-vous pour le départ"%>
        <%= f.input :date_depart, label: "Quel jour ?"%>
        <%= f.input :heure_depart, label: "A quelle heure penses-tu partir ?"%>
        <%= f.input :date_arrivee, label: "Quel jour arrives-tu ?"%>
        <%= f.input :heure_arrivee, label: "A quelle heure arrive ton train ?"%>
        <%= f.button :submit%>
      <% end %>
      <% else %>
      <h1>Please Sign In first</h1>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-signup-forgotpassword py-2"%>
            <%= link_to "Become a member", new_user_registration_path, class: "btn btn-signup-forgotpassword py-2"%>
              <br><br>
        <% end %>
