<h1>Margin à ajouter</h1>
<h1>Margin à ajouter</h1>

    <%= link_to new_user_session_path do %>
    <p>Se connecter</p>
    <% end %>
    <%= button_to "Sign out", destroy_user_session_path , method: :delete  %>


<h1>Le lieu reste encore secret</h1>


<h2>Infos : Comment s'y rendre</h2>

<p>A 1h45 de Paris en train ou voiture</p>
<p>À 3h40 de Lyon en train ou voiture (changement à la gare de Lyon donc la même gare)</p>
<p>Rendez vous gare de Montargis</p>
<p>Montargis - lieu : environ 25 min en voiture</p>


<%# Questionaire pour savoir qui vient comment et si place en voiture %>

<h2>Comment comptes-tu venir ?</h2>


    <%= link_to new_voyage_path do %>
    <p>Créer</p>
    <% end %>

<h2> Ton trajet </h2>
    <% @voyage_users.each do |voyage_user| %>
    <%= voyage_user.category %>
    <%= voyage_user.ville %>
    <%= voyage_user.user.first_name %>
    <%= link_to "More info", voyage_path(voyage_user) %>
    <%= link_to "Edit", edit_voyage_path(voyage_user), class: "ms-3 text-warning" %>
    <%= link_to "Remove", voyage_path(voyage_user),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "ms-3 text-danger"%>
    <br><br>
    <% end %>
<h2> Tous les transports disponibles</h2>
<%# Pour tout le monde : afficher par statut : avec place disponible ou en recherche ou ok pas besoin %>
<%# Pour current user : afficher son trajet même si pas de place %>


  <% @other_voyages.each do |voyage| %>
    <%= voyage.category %>
    <%= voyage.ville %>
    <%= voyage.user.first_name %>
    <%= voyage.user.id %>
    <p>Nombre de place dans la voiture: <%= voyage.place %></p>

    <%= link_to "More info", voyage_path(voyage) %>
    <br><br>
  <% end %>
