

<h1>Margin à ajouter</h1>
<h1>Margin à ajouter</h1>


<h1>Edit Chambre</h1>
<%= simple_form_for(@chambre, data: {turbo: false}) do |f| %>
      <%= f.input :name, placeholder: "Nom de la chambre" %>
      <%= f.input :nombre_lits, placeholder: "Nombre de lits" %>
      <%= f.input :lits_id, collection: Lit.all, label: "Type de lits", input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>
      <%= f.button :submit%>
    <% end %>

<%= link_to "Retour", chambres_path %>
